footer {
  margin-top: 50px;
}


footer p {
  font: 16px 'roboto_regular_400', 'Arial', sans-serif;
  color: $black;
}




// @media (max-width: 1500px) {

//   .footer__right {
//     margin-right: 2%;
//   }

// }
