@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #6495ed;
  overflow: hidden;
}


.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 2rem;

}


.boards {
  display: flex;
  width: 100%;
  /* margin: .5rem; */
  text-align: center;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  margin: 0 .3rem;
  padding: .5rem;
  max-width: 250px;
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: 4px 4px 9px rgba(6, 55, 110, 0.26);
  border-radius: 5px;
  transition: .3s all ease;
}


.title-board {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
  width: 100%;
  padding: 0.6rem;
  text-align: left;
  color: #fff;
  margin: 0;
}

.title-board:focus {
  outline: 2px solid #a763ff;
}

ul {
  margin: 0;
  padding: 0;
}

.placeholder {
  list-style-type: none;
  text-align: left;
  padding: 0.1rem 0.1rem;
  text-align: left;
  min-height: 60px;
}

.task {
  background: #fff;
  margin-top: 10px;
  font: bold 14px 'Roboto', sans-serif;
  border-radius: 5px;
  padding: .6rem;
  color: #3a3a3a;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  outline: none;
  cursor: grab;
}

.card-form {
  border-radius: 5px;
  margin-top: auto;
  display: none;
}

.card-form__name {
  resize: none;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: .5rem;
  width: 100%;
}

.card-name:focus {
  outline: none;
}

.card-form__buttons {
  display: flex;
  margin-top: 0.5rem;
}

.card-form__button--add {
  background: #00db6e;
  border: none;
  border-radius: 5px;
  height: 36px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
  width: 100%;
}

.card-form__button--cancel {
  background: #fff;
  border: 1px solid #858585;
  border-radius: 5px;
  height: 36px;
  cursor: pointer;
  color: 858585;
  display: flex;
  justify-content: сenter;
  align-items: center;
  width: 75px;
  margin-left: auto;
  flex-shrink: 0;
}

.card-form__button--show {
  height: 30px;
  background: rgba(155, 155, 155,.3);
  border-radius: 5px;
  margin-top: 0.7rem;
  display: flex;
  font-size: 12px;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

.show-form span {
  font-size: 20px;
  margin-right: 10px;
}

.add-board,
.remove-board
{
  background: none;
  border: 1px solid #fff;
  color: #fff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 14px;
    padding: 0.7rem;
    width: 250px;
    border-radius: 5px;
    margin: 0 0 30px 10px;
    cursor: pointer;
}

.remove-board {
  background: none;
  border: 1px solid #fff;
  color: #fff;
}


.card-form__button--remove {
  background: #fff;
    display: flex;
    justify-content: сenter;
    align-items: сenter;
    cursor: pointer;
    font-size: 14px;
    padding: 0.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.card-form__button--remove span {
  margin-right: 10px;
}



.hide {
  display: none;
}

.show {
  display: block;
}

.hover {
  border: 2px dashed #a0b9fd;
  border-radius: 5px;
}