@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #6495ed;
  overflow: hidden;
  margin: 0;
}


.title {
  text-align: center;
  color: white;
  margin-top: 150px;
}

.container{
  padding-top: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.section {
  margin: .5rem;
  background-color: #f0f0f0;
  width:240px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 4px 4px 9px rgba(6, 55, 110, 0.26);
  min-height: 250px;
}

.header {
  width: 100%;
  padding: 0.8rem 0;
  color: #fff;
  margin: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

.task-container {
  padding: .5rem;
  height: 82%;
}


.task {
  display: block;
  margin-top: 10px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 5px;
  background: #fff;
  padding: 1rem .6rem;
  color: #828282;
  cursor: grab;
}


.task:active {
  cursor: grabbing;
}

.placeholder {
  list-style-type: none;
  text-align: left;
  padding: 0.1rem 0.1rem;
  text-align: left;
  height: 100%;
}

.header__start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.header__progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.header__done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.selected {
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
  border: 2px solid #fff;
  color: #fff;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hover {
  border: 2px dashed #a0b9fd;
  border-radius: 5px;
}
